.mb-24 {
  margin-bottom: 24px;
}

.h-full {
  height: 100%;
}

.ant-card.criclebox {
  box-shadow: 0px 20px 27px #0000000d;
  border-radius: 12px;
}

.bar-chart {
  background: transparent
    linear-gradient(62deg, #00369e 0%, #005cfd 53%, #a18dff 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 0px 4px 6px #0000001f;

  border-radius: 8px;
  width: 100% !important;
  max-width: 100%;

}

.linechart h5 {
  font-weight: 700;
  margin: 0px;
}
.linechart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chart-vistior {
  margin-top: 30px;
}

.chart-vistior h5 {
  margin: 0px;
  font-weight: 700;
}
.ant-typography.lastweek {
  color: #8c8c8c;
  font-weight: 600;
}

.chart-visitor-count h4 {
  margin: 0px;
  font-weight: 700;
}

.chart-visitor-count span {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
}

.ant-typography.lastweek {
  color: #8c8c8c;
  font-weight: 600;
}

.bnb2 {
  color: #52c41a;
  font-weight: 700;
}

.bnb3 {
  color: red;
  font-weight: 700;
}

.item-value {
  font-size: large;
  font-weight: bold;
}

.item-icon {
  width: 48px;
    height: 48px;
    text-align: center;
    background: #1890ff;
    color: #fff;
    border-radius: .5rem;
    margin-left: auto;
    padding: 10px;
}

.pd-bottom{
  padding-bottom: 20px;
}

@media (max-width: 1024px) {
  .bar-chart {
    max-width: 100%;
  }
  .full-width {
    max-width: 100%;
  }
}

.bar-chart line.apexcharts-xaxis-tick {
  stroke: transparent;
}

